<div class="row">
  <div class="col-md-6">
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Category</th>
            <th>Item</th>
            <th>Price</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Sandwich flavours</td>
            <td><%=form_for(@user.orders.build) do |f| %>
<%= f.select(:items, options_for_select([["Tikka","Tikka"],["fajitta","fajitta"],["hunter beef","hunter beef"]]), :selected => params[:items]) %></td> 
              <div><%= f.hidden_field :user_id, :value => params[:id] %></div>

              <td><%= f.text_field :totalprice,:value => 'enter price here'%></td>
              <td><%= f.submit "Add to Order", class: "btn btn-success" %></td>
              <%end%>
            </tr>
          <tr>
            <td>Sauces</td>
            <td><%=form_for(@user.orders.build) do |f| %>
<%= f.select(:items, options_for_select([["Ketchup","Ketchup"],["Mayo","Mayo"],["Mustard","Mustard"]]), :selected => params[:items]) %></td> 
              <div><%= f.hidden_field :user_id, :value => params[:id] %></div>

              <td><%= f.text_field :totalprice,:value => 'enter price here'%></td>
              <td><%= f.submit "Add to Order", class: "btn btn-success" %></td>
              <%end%>
          </tr>
          <tr>
            <td>Vegetables</td>
            <td><%=form_for(@user.orders.build) do |f| %>
<%= f.select(:items, options_for_select([["tomatoes","tomatoes"],["onions","onions"],["olives","olives"],["corn","corn"]]), :selected => params[:items]) %></td> 
              <div><%= f.hidden_field :user_id, :value => params[:id] %></div>

              <td><%= f.text_field :totalprice,:value => 'enter price here'%></td>
              <td><%= f.submit "Add to Order", class: "btn btn-success" %></td>
              <%end%>
          </tr>
        </tbody>
      </table>

  </div>
  <div class="col-md-4 col-md-push-1">
    <h3>Order</h3>
    <ul>
      <%totalprice=0%>
      <%if @user.orders%>
        <%@user.orders.each do |eorder|%>
        <% if eorder.items%>
          <li><%=eorder.items%></li>
          <%totalprice=totalprice+eorder.totalprice.to_i%>
        <%end%>
        <%end%>
      <%end%>
      <br>
      <div>Total Bill: <%=totalprice%></div>
      <br>
      <%=link_to "Place Final Order" , {:controller=>:reviews ,:action=>:new , :id=>@user.id}%>
    </ul>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Item</th>
            <th>Size</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Sandwich</td>
            <td>foot long</td>
            <td>650</td>
          </tr>
          <tr>
            <td>Sandwich</td>
            <td>6-inch</td>
            <td>350</td>
          </tr>
