-# delete_name_rating.html.haml using partial

%h1 Delete Movie

= form_tag @movies, :method => :get do

  = label :movie, :title, "Delete movie by name"
  = text_field :movie, 'title'
  
  = submit_tag 'delete movie'
  
= form_tag @movies, :method => :get do

  = label :movie, :title, "Delete movie by rating"
  = select :movie, :rating, ['G','PG','PG-13','R','NC-17']
  
  = submit_tag 'delete movie'

%th= link_to 'Back to movie list', movies_path
