-#  This file is app/views/chopchops/index.html.haml
%h1 ChopChop

%table#chopchops
  %thead
    %tr
      %th{:class => @ins}= link_to 'Item',chopchops_path(:sort_by_food => 'food_item'), :id => "food_header", :class => @ins1
      %th Description
      %th{:class => @ins}= link_to 'Price',chopchops_path(:sort_by_price => 'price'), :id => "price_header", :class => @ins2
  %tbody
    - @chop.each do |rest|
      %tr
        %td= link_to "#{rest.food_item}", chopchops_path(rest)
        %td= rest.description
        %td= rest.price
        

= link_to('Back', restaurants_path)

