-#  This file is app/views/movies/index.html.haml
%h1 All Restaurants

%table#restaurants
  %thead
    %tr
      %th{:class => @ins}= link_to 'Restaurant Name',restaurants_path(:sort_by_name => 'name'), :id => "name_header", :class => @ins1
      %th Contact Number
      %th{:class => @ins}= link_to 'Description',restaurants_path(:sort_by_type => 'description'), :id => "type_header", :class => @ins2
      %th Rating
  %tbody
    - @restaurant.each do |rest|
      %tr
        %td= link_to "#{rest.name}", restaurant_path(rest)
        %td= rest.number
        %td= rest.description
        %td= rest.rating 
        
