<div class="row">
  <div class="col-md-6">
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Category</th>
            <th>Item</th>
            <th>Price</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>BarBQ</td>
            <td><%=form_for(@user.orders.build) do |f| %>

              <%= f.text_field :items,:value => 'Tikka'%></td>
              <div><%= f.hidden_field :user_id, :value => params[:id] %></div>

              <td><%= f.text_field :totalprice,:value => '240'%></td>
              <td><%= f.submit "Add to Order", class: "btn btn-success" %></td>
              <%end%>
            </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
      </table>

  </div>
  <div class="col-md-4 col-md-push-1">
    <h3>Order</h3>
    <ul>
      <%totalprice=0%>
      <%if @user.orders%>
        <%@user.orders.each do |eorder|%>
          <li><%=eorder.items%></li>
          <%totalprice=totalprice+eorder.totalprice.to_i%>
        <%end%>
      <%end%>
      <div>Total Bill :<%=totalprice%></div>
      <%=link_to "Final Order" , {:controller=>:reviews ,:action=>:new , :id=>@user.id}%>
      <li>
    </ul>

  </div>

</div>
